/*
NOTICE: It's better to use the modern CSS variable.
        However, the mobile side is fragile on supporting that.
        So we go with SCSS variable and function.
*/
@function get-var($name, $width-size) {
  @if $width-size == "small" {    

    @if $name == "app-width" { @return 100%; }
    @if $name == "app-max-width" { @return 100%; }
 
  } @else {

    @if $name == "app-width" { @return 70%; }
    @if $name == "app-max-width" { @return 640px; }

  }
}

$app-font-color: #555;

.App {
  width: get-var("app-width", "small");
  max-width: get-var("app-max-width", "small");
  height: 100%;
  margin: 0 auto;
  box-sizing: content-box;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .App {
    width: get-var("app-width", "big");
    max-width: get-var("app-max-width", "big");
  }
}
