@import "AppEnv.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: sans-serif;
  background: #f0f1f2;
}

body {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

.App {
  width: get-var("app-width");
  max-width: get-var("app-max-width");
  height: 100%;
  margin: 0 auto;
  box-sizing: content-box;
  color: $app-font-color;
  background: #fff;
}

@media screen and (min-width: $app-big-screen-width) {
  html {
    font-size: 16px;
  }

  .App {
    width: get-var("app-width", "big");
    max-width: get-var("app-max-width", "big");
  }
}
