@import "App.scss";

@function get-panel-var($name, $width-size: "small") {
  $title-height: 3rem; 
  $input-height: 2rem;
  $top-panel-btm-space: 0.7rem;
  $button-bar-height: 3.3rem;
  $title-font-size: 1.8rem;
  $input-font-size: 1rem;
  @if $width-size == "big" {
    $title-height: 5rem;
    $input-height: 3rem;
    $top-panel-btm-space: 1rem;
    $title-font-size: 2.4rem;
    $input-font-size: 1rem;
  }
  $top-panel-height: $title-height + $input-height + $top-panel-btm-space;

  @if $name == "title-font-size" { @return $title-font-size; }
  @if $name == "input-font-size" { @return $input-font-size; }
  @if $name == "title-height" { @return $title-height; }
  @if $name == "input-height" { @return  $input-height; }
  @if $name == "top-panel-btm-space" { @return  $top-panel-btm-space; }
  @if $name == "top-panel-height" { @return $top-panel-height; }
  @if $name == "button-bar-height" { @return $button-bar-height; }
  @if $name == "panel-height" {
    @if $width-size == "big" { @return $top-panel-height + $button-bar-height; }
    @return $top-panel-height;
  }
}

.todo-panel {
  width: 100%;
  height: get-panel-var("panel-height");
}

.todo-panel__top-panel {
  width: 100%;
  height: get-panel-var("top-panel-height");
  padding-bottom: get-panel-var("top-panel-btm-space");
  background: #51c87a;
}

.todo-panel__title {
  margin: 0;
  font-size: get-panel-var("title-font-size");
  font-weight: lighter;
  color: #fafbfc;
}

.todo-panel__input {
  width: 90%;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 2px;
  margin: 0 auto;
  font-size: get-panel-var("input-font-size");
  display: block;
  color: $app-font-color;
}

.todo-panel__button-bar {
  width: get-var("app-width");
  max-width: get-var("app-max-width");
  height: get-panel-var("button-bar-height");
  position: fixed;
  bottom: 0;
  z-index: 1;
  box-shadow: 0px 0px 3px 0px #888888;
  background: #fff;
}

.todo-panel__btn {
  height: 78%;
  padding: 0;
  border: 0;
  border-right: 1px solid #eee; 
  margin: 0;
  font-size: 1rem;
  font-weight: lighter;
  background: none;
  color: #888;
  cursor: pointer;
}

.todo-panel__btn:last-child {
  border-right: 0;
}

.todo-panel__btn:active,
.todo-panel__btn--active {
  color: $app-active-color;
  outline: none;
}

.todo-panel__btn:hover {
  outline: none;
}

@media screen and (min-width: $app-big-screen-width) {
  .todo-panel {
    height: get-panel-var("panel-height", "big");
  }

  .todo-panel__top-panel {
    width: get-var("app-width", "big");
    max-width: get-var("app-max-width", "big");
    height: get-panel-var("top-panel-height", "big");
    padding-bottom: get-panel-var("top-panel-btm-space", "big");
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .todo-panel__title {
    font-size: get-panel-var("title-font-size", "big");
  }

  .todo-panel__input {
    width: 80%;
    font-size: get-panel-var("input-font-size", "big");
  }

  .todo-panel__button-bar {
    width: get-var("app-width", "big");
    max-width: get-var("app-max-width", "big");
    height: get-panel-var("button-bar-height", "big");
    top: get-panel-var("top-panel-height", "big");
    bottom: auto;
  }

  .todo-panel__btn {
    font-size: 1.1rem;
  }

  /* One single touch on a mobile device would bring the :hover state.
     In that case, we don't want to change color so only do on PCs.
   */
  .todo-panel__btn:hover {
    color: $app-active-color;
  }

  #todo-panel-add-btn {
    display: none;
  }
}

/* Grid/Flexbox Layout:
   Easier to dynamicall layout elements with the modern layout rules. 
   However, the mobile side is fragile on supporting that.
   So we still use the old ways below and put the modern ways here.
   In the future, we could just remove the old ways.
*/
.todo-panel__top-panel {
  display: grid;
  grid-template-rows: 5fr 3fr;
  grid-template-columns: 1fr;
}

.todo-panel__title {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-panel__input {
  grid-area: 2 / 1 / 2 / 1;
}

.todo-panel__button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-panel__btn {
  flex: 1;
}
/* Grid/Flexbox Layout End */

/* Old Layout Way */
.todo-panel__title {
  height: get-panel-var("title-height");
  line-height: get-panel-var("title-height");
  text-align: center;
}

.todo-panel__input {
  height: get-panel-var("input-height");
}

.todo-panel__button-bar {
  display: block;
}

.todo-panel__btn {
  width: 20%;
  font-size: 0.75rem;
  position: relative;
  top: 11%;
}

@media screen and (min-width: $app-big-screen-width) {
  .todo-panel__title {
    height: get-panel-var("title-height", "big");
    line-height: get-panel-var("title-height", "big");
  }

  .todo-panel__input {
    height: get-panel-var("input-height", "big");
  }

  .todo-panel__btn {
    width: 25%;
    font-size: 0.9rem;
  }
}
/* Old Layout Way End */
